.firstSection {
    background-color: var(--masolve-home-color-background);

    padding: 4rem 4rem 4rem 4rem;
    display: flex;
    justify-content: center;
}

.firstSectionContent {
    max-width: var(--masolve-home-max-width);
}

.firstSectionContentStack {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 2rem;
}

.firstSectionTextContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 4px;
    justify-content: center;
}

.firstSectionTextContainerWidth {
    width: 55%;
}

.firstSectionImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstSectionImageContainerWidth {
    width: 45%;
}

.firstSectionImage {
    height: 420px;
    width: 420px;
}

/* Mobile */
@media (max-width: 996px) {
    .firstSectionContentStack {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        row-gap: 40px;
    }

    .firstSectionTextContainerWidth {
        width: 100%;
    }

    .firstSectionImageContainerWidth {
        width: 100%;
    }
}
