.hero {
    position: relative;
    isolation: isolate;

    overflow: hidden;

    background-image: url("/img/lines-and-rings.jpg");
    background-size: cover;
    background-repeat: repeat;
    padding: 8rem 4em 4rem 4rem;

    display: flex;
    justify-content: center;
}

.hero::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background-color: var(--docs-color-background-100);
    opacity: 0.85;
}

.heroContent {
    /* min-height: 600px; */
    max-width: var(--masolve-home-max-width);
}

.heroContentStack {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 80px;
    min-height: calc(400px - 6rem);
}

.heroTextContainer {
}

.heroTextContainerWidth {
    width: 55%;
}

.heroVideoContainerWidth {
    width: 45%;
}

.heroVideoContainer {
    /* placeholder */
    height: inherit;
    padding-top: 1rem;
}

.heroVideoFrame {
    width: 100%;
    height: 320px;
    border: 2px solid transparent;
    border-radius: 12px;
}

/* Mobile */
@media (max-width: 996px) {
    .heroTextContainerWidth {
        width: 100%;
    }

    .heroVideoContainerWidth {
        width: 100%;
    }

    .heroContentStack {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        row-gap: 40px;
    }

    .heroVideoContainer {
        position: relative;
        width: 100%;
        padding-bottom: 60%;
        height: calc(400px + 4rem);
        display: flex;
        justify-content: center;
    }

    .heroVideoFrame {
        position: absolute;
        width: 100%;
        height: 400px;
        border: 2px solid transparent;
        border-radius: 12px;
    }
}
