.titleH1 {
    font-weight: 700;
    font-size: 60px;
    line-height: normal;
}

.titleH2 {
    font-weight: 700;
    font-size: 36px;
    line-height: normal;
}

.titleH3 {
    font-weight: 400;
    font-size: 28px;
    line-height: normal;
}

.text {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
}

.button,
.linkButton {
    height: 48px;
    width: auto;
    font-weight: 700;
    font-size: 16px;
}

.linkButton {
    text-decoration: underline;
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 18px;
}

.highlightText {
    color: var(--ifm-color-primary-dark);
}
