.thirdSection {
    background-color: var(--masolve-home-color-background-invert);

    padding: 0rem 4rem 8rem 4rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 4rem;
}

.thirdSection p,
.thirdSection h2,
.thirdSection h3 {
    color: var(--docs-color-text-invert);
}

.thirdSectionContent {
    max-width: var(--masolve-home-max-width);
}

.thirdSectionContentStack {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 2rem;
    align-items: flex-start;
}

.thirdSectionTextContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 2px;
    justify-content: center;
}

.thirdSectionText1ContainerWidth,
.thirdSectionText2ContainerWidth {
    width: 50%;
}

.thirdSectionContentText {
    padding-bottom: 4px;
    margin-bottom: 0px;
}

/* Mobile */
@media (max-width: 996px) {
    .thirdSectionContentStack {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        row-gap: 40px;
    }

    .thirdSectionText1ContainerWidth,
    .thirdSectionText2ContainerWidth {
        width: 100%;
    }
}
