.thirdSection {
    background-color: var(--maspectra-home-color-background-invert);

    padding: 0rem 4rem 8rem 4rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 4rem;
}

.thirdSection p,
.thirdSection h2,
.thirdSection h3 {
    color: var(--docs-color-text-invert);
}

.thirdSectionContent {
    max-width: var(--maspectra-home-max-width);
    width: 100%;
}

.thirdSectionContentStack {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 2rem;
    align-items: flex-start;
}

.thirdSectionTextContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 2px;
    justify-content: center;
}

.thirdSectionTextContainerWidth {
    width: 50%;
}

.thirdSectionContentText {
    padding-bottom: 4px;
    margin-bottom: 0px;
}

.learnMoreButton {
    min-width: fit-content !important;
    width: fit-content;
}

/* Tablet */
@media only screen and (max-width: 1024px) {
    .thirdSectionContentStack {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        row-gap: 40px;
    }

    .thirdSectionTextContainerWidth {
        width: 100%;
    }
}

/* Mobile */
@media only screen and (max-width: 768px) {
    .thirdSection {
        padding-left: 1.6rem;
        padding-right: 1.6rem;
    }
}
